*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
}

.container{
  margin-left: 5%;
  margin-right: 5%;
}

/* Navbar section */

.nav{
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: transparent;
  z-index: 10000;
}
.nav-image{
  max-width: 32px;
}

.nav div.logo{
  width: 180px;
  height: 10px;
  position: absolute;

}

.nav div.logo a{
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.main_list{
  width: 600px;
  height: 65px;
  float: right;
}

.nav div.main_list ul{
  width:100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li{
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
  color: #c0c0c0;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span{
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  .container{
      margin: 0;
  }
  
}




@media screen and (max-width:768px) {
  
  .container{
      margin: 0;
  }
  
  .nav div.logo{
      margin-left: 15px;
  }
  
  .nav div.main_list{
      width: 100%;
      margin-top: 65px;
      height: 0px;
      overflow: hidden;
  }
  
  .nav div.show_list{
      height: 200px;
  }
  
  .nav div.main_list ul{
      flex-direction: column;
      width: 100%;
      height: 200px;
      top: 80px;
      right: 0;
      left: 0;
  }
  
  .nav div.main_list ul li{
      width: 100%;
      height: 40px;
      background-color: transparent;
  }
  
  .nav div.main_list ul li a{
    text-align: center;
      line-height: 40px;
      width: 100%;
      height: 40px;
      display: table;
  }
  
  .nav div.media_button{
      display: block;
  }

  .cards{
      display: flex;
      flex-direction: column;

  }
  .about-us{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .mainsection{
      display: flex;
      flex-direction: column;
  }
  .line-container{
      display: none;
  }
  .buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
  }
  .main_list{
      background-color: hwb(0 0% 100%);
      opacity: 0.6;
  }
}

.hero .body-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  
}
.hero { 
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img{
  max-width: 300px;
}
.line-container{
  height: 300px;
  width: 4px;
  background-color: white;
}
.content-container{
  color: white;

}
.content-container h2{
  font-size: 3rem;
}
.content-container h4{
  font-size: 2.2rem;
  font-weight: 600;
}
.mainsection{
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}
.btn {  
  margin-top: 25px;
  position: relative;
  z-index: 10000000;
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
  z-index: 1000;
}
.btn-2 {  
  margin-top: 25px;
  position: relative;
  z-index: 10000000;
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  transition: all .4s;
  z-index: 1000;
}
 
.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #39a2db,
  0 16px 10px -3px #39a2db;
}
 
.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}
.cards {
  display: flex;
  width: 50%;
  margin: 30px auto;
  gap: 120px;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;

  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #cce0ff;
  width: 150%;
  height: 110%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cover img{
  width: 50%;
  word-wrap: normal;

}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}

.book-text{
  position: relative;
  font-size: 0.8rem;
  font-weight: 400;

}
.hero-2 .body-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  
}
.hero-2 {
  margin-top: 70px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  display: flex;
  justify-content: center;
}



.mainsection-2 h1{
  color: white;
  top: 0;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 60px;
}
.mainsection-2{
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.image-container{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 30px;
}

.image-container img{
  width: 45%;
  height: auto;
}

.committees{
  width: 100%;
  margin: 0 auto;
}


.containers{
  max-width:500px;
  margin:30px auto;
  transform: scale(1.2);

}

.slideshow-container{
    width: 500px;
    margin: 0 auto;

}



/* The dots/bullets/indicators */
.dot{

  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.carousel{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel h1{
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 2.5rem;

}
.mySlides img{
  border-radius: 6px;
}


.footer{
  background-color: #212121;
  height: 300px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img{
  width: 200px;
  margin: 15px auto;
}
.bottomline{
  width: 50%;
  height: 5px;
  background-color: white;
}

.icons{
  display: flex;
  color: white;
  justify-content: space-evenly;
  margin-top: 20px;
  gap: 50px;
}

.icon-item{
  color: white;
  font-size: 30px;
}


.btn a{
  text-decoration: none;
  color: white;
}